{%extends 'base.html' %}
{%block content%}
<h1>Add a New User!</h1>

<form action="/create" method="POST">
    <div>
        User Name
        <input type="text" name="username" id="username" placeholder="Enter Username">
    </div>
    <div>
        First Name
        <input type="text" name="f_name" id="f_name" placeholder="Enter a First Name">
    </div>
    <div>
        Last Name
        <input type="text" name="l_name" id="l_name" placeholder="Enter a Last Name">
    </div>
    <div>
        Image Url
        <input type="text" name="img_url" id="img_url" placeholder="provide an image url">
    </div>
    <button>submit</button>
</form>
{%endblock%}