{%extends 'base.html' %}
{%block content%}
<h1>{{user.username}}'s post</h1>
{% for message in get_flashed_messages() %}
<p style="background-color: rgb(226, 110, 110);">{{message}}<a href="/tags/add">Click Here to add new Tag</a></p>
{%endfor%}
<div id="edit-post-cont">
{% if post is defined %}
<form action="/posts/{{post.id}}/edit" method="POST">
    <div>
        Title 
        <input type="text" name="title" value = '{{post.title}}'>
        <input type="text" name="title">
    </div>
    <div>
        Content
        <textarea name="content" cols="30" rows="10" >
            {{post.content}}
        </textarea>
    </div>
    <button type="submit">Submit Edit</button>
</form>
{% else %}
<div class = 'new-postform'>
    <form action="/users/{{user.id}}/post" method="POST">
        Title
        <div class="title">
            <input type="text" name="title">
        </div>
        Content
        <div>
            <textarea name="content" cols="40" rows="5" id="new-text-area">
            </textarea>
        </div>
        <button type="submit" class="edit">Submit Edit</button>
    </form>
</div>

{% endif %}
    <div>
        Tags:
        <ul>
            {%for tag in tags%}
            <li>
                <div class="li-remove">
                    <span><a href="/tags/{{tag.id}}">{{tag.name}}</a></span>
                    <span>
                    <form action="/posts/{{post.id}}/remove_tag/{{tag.id}}" method="POST">
                        <button class="delete">Remove</button>
                    </form>
                </span>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
    {% if post is defined %}
    <div>
        Add Tags:
        <form action="/posts/{{post.id}}/attach_tag" method="POST">
            <input type="text" placeholder="tagname" name="tag">
            <button type="submit">Add</button>
        </form>
    </div>
    
    {% else %}

    {% endif %}
           
</div>
<footer> 
    Available Tags
    <div>
        {% for tag in all_tags %}
        <div id="available-tags">
           | {{tag.name}} |
        </div>
        {% endfor %}
    </div>
</footer>
    {%endblock%}