{%extends 'base.html' %}
{%block content%}
<h1>Create a new post for {{user.username}}</h1>
{%if post %}
<form action="/posts/{{post.id}}/edit" method="POST">
    <span>
        Title 
        <input type="text" name="title" value = {{post.title}}>
    </span>
    <span>
        Content
        <textarea name="content" cols="30" rows="10" >
            {{post.content}}
        </textarea>
    </span>
    <button type="submit">Submit Edit</button>
</form>
    {%else%}
 <form action="/users/{{user.id}}/post" method="POST">
    <span>
        Title 
        <input type="text" name="title">
    </span>
    <span>
        Content
        <textarea name="content" cols="30" rows="10">

        </textarea>
    </span>
    <button type="submit">Create Post</button>
</form>
{%endif%}
{%endblock%}