{% extends 'base.html' %}
{%block content%}
<div>
    Tags:
    {%for tag in tags%}
    <li class="clean-li">
        <a href="/tags/{{tag.id}}">{{tag.name}}</a>
    </li>
    {%endfor%}
</div>
<form id="static-post-add-tag" action="/posts/{{post.id}}/attach_tag" method="POST">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}
  
    <button type="submit" class="submit" name="static-add-tag">Add</button>
  </form>

<div id="post-text">
    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>
    <h6>Posted by: <a href="/users/{{post.poster}}">{{post.posting_user.username}}</a></h6>
    <form action="/posts/{{post.id}}/edit">
        <button type="submit" class="submit">Edit</button>
    </form>    
</div>




{%endblock%}